# Specify filepatterns you want git to ignore.
*.csv
*.json
__pycache__/
build/
dist/
*.egg
src/tradedoubler_api_client.egg-info/
Include/
Lib/
Scripts/
examples/tradedoubler_api_client/
examples/csv/
examples/json/